@hbd:#fafafa;
@b-f:#fff;
@t-c:#29b078;
@e8:#e8e8e8;
@gy:gray;
@oe:orange;

@widtn:100%;

@f-f:宋体;

@f-s:1.2rem;

@w-768:768px;
@w-1204:1204px;

.maintop{
  text-align:center;
  margin:4rem auto;
}
.col-xs-12{
  padding:0 8px;
}
.maintop1{
  padding-right:5%;
  border-right:2px dashed gray;
}
@media screen and(max-width:(@w-768 - 1px)){
  .maintop1{
    padding-right:5%;
    border-right:0;
  }
}
@media screen and(max-width:@w-768) {
  .carousel-control{
    top:-3%;
    font-size:@f-s + 1.8rem;
  }
}
.maintop2{
  font-size:@f-s + 1.3rem;
}
.mainyop3{
  font-size:@f-s;
}
.maintop-5{
  justify-content:space-between;
  text-align:center;
}
.maintop-5-1{
  font-size:0.5rem;
  color:@t-c;
  margin:2% auto auto -64px;
}
.maintop-5-1{
  span{
    position:absolute;
    margin-top:.3%;
  }
}
h3{
  text-align:center;
  margin:3rem auto;
}
.number{
  font-size:@f-s;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.circle{
  width:100%;
  margin:1rem auto;
  text-align:center;
}
.littlecircle{
  display:inline-block;
  line-height:1rem;
  margin-top:10px;
  width:1rem;
  height:1rem;
  text-align:center;
  border-radius:50%;
  background-color:@gy;
}
.littlecircle{
  &:hover{
    background-color:@t-c;
  }
}
.person{
  background-color:@b-f;
  text-align:center;
  padding:5% 10%;
  font-size:@f-s;
  border:1px solid @e8;
}
.round{
  width:40px;
  height:40px;
  border:1px solid @e8;
  border-radius:50%;
  background:@b-f;
}
.round{
  &>p{
    font-size:@f-s + .8rem;
    color:@t-c;
    line-height:40px;
  }
}
@media screen and(max-width:@w-768){
  .number{
    img{
      width:70%;
      height:70%
    }
  }
  .number{
    .person{
      width:70%;
      margin:3rem auto;
    }
  }
  .number{
    .person{
      img{
        width:80%;
      }
    }
  }
}
.jp{
  float:left;
  width:20%;
  background:@b-f;
}
.jp{
  &>img{
    height:100%;
    width:90%;
  }
}
.mainbottom2{
  &:hover{
    transform:translate(0,-5px);
    box-shadow:0 0 2px 2px @oe;
    z-index:2;
    }
  }
.imgopacity{
  opacity:0;
}
.foot1-top{
  background:@b-f;
  margin-bottom:-10px;
}
.foot1-top{
  >h3{
  padding-top:1rem;
}
}
.foot1{
  font-size:@f-s;
}
.font4{
  text-align:center;
  margin:0;
}
.font4{
  text-align:center;
  margin:0;
}
@media screen and(min-width:@w-768){
  .foot4{
    display:flex;
    justify-content:space-between;
  }
}